.feedback {
    padding: 72px 0 ;
}

.feedback__content {
    min-height: 554px;
    background-color: var(--color-base);
    border-radius: 16px;
}

.feedback__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.feedback__box h2 {
    font-size: 30px;
    font-weight: 900;
    line-height: 36px;
    margin-top: 64px;
}

.feedback__form-container form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}
.feedback__form-container form textarea {
    grid-column-start: 1;
    grid-column-end: 3;
    resize: none;
}

.feedback__form-container button {
    padding: 10px 176px;
    background-color: var(--color-button-hover);
    border-radius: 4px;
    color: var(--color-base);
    font-weight: 700;
    line-height: 24px;
    margin-top: 28px;
}