.footer {
    background-color: var(--text-color-base);
    min-height: 234px;
    color: var(--color-base);
    padding: 40px 0;
}

.footer__nav .navigation__item a {
    color: var(--color-base);
}

.footer__nav .navigation__item a:hover {
    color: var(--color-button-hover);
}

.footer__info {
    display: flex;
}

.footer__nav {
    margin: 37px auto
}

.footer__logo-copyright {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.copyright {
    display: flex;
    gap: 4px;
}

.copyright img {
    width: 14px;
    height: 14px;
    align-self: center;
}

.footer__number p:last-child {
    font-weight: 400;

}

.footer__offer {
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
}

.footer__offer p {
    color: #4B5563;
    font-size: 12px;
    line-height: 16px;
}

.footer__offer p:first-child {
    font-weight: 300;

}

.footer__offer p:last-child {
    font-weight: 400;
    text-align: end;

}

.footer__alt-nav {
    display: none;
}

@media (max-width: 1536px) {
    .number a {
        font-size: 26px;
        line-height: 36px;
    }

    .number p:last-child {
        font-size: 17px;
        line-height: 28px;
    }

    .copyright p {
        font-size: 12px;
        line-height: 16px;
    }

    .footer__number {
        display: flex;
        margin: auto;
    }
}

@media (max-width: 1024px) {
    .footer__info {
        margin-top: 24px;
    }

    .footer__alt-nav {
        display: flex;
    }

    .footer__number .number a {
        font-size: 30px;
        line-height: 36px;
    }

    .footer__number {
        margin: auto 0 auto auto;
    }

    .footer__standard-nav {
        display: none;
    }

    .footer__offer {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    .footer__offer p {
        text-align: center;
    }

    .footer__offer p:last-child {
        color: #6B7280;
    }

    .footer__alt-nav {
        justify-content: center;
    }

    .footer__alt-nav .footer__nav {
        margin: 0;
    }
}

@media (max-width: 758px) {
    .footer__info {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    .footer__number {
        margin: 0;
        order: -1;
    }

    .footer__number .number p:last-child {
        font-size: 20px;
    }

    .footer__logo-copyright {
        align-items: center;
    }
}