.reviews__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 72px;
    gap: 32px;
}

.reviews__content h2 {
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
}

.reviews__container {
    display: flex;
    gap: 47px;
}

.reviews__container button img {
    width: 60px;
    height: 60px;
}

.reviews__container button {
    align-self: center;
}

.reviews__container button:last-child {
    transform: rotate(180deg);
}

.reviews__list {
    display: flex;
    gap: 24px;
}

.reviews__item {
    max-width: 626px;
    position: relative;
    background-color: var(--color-base);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    padding: 32px 43px;
}

.reviews__item img {
    position: absolute;
    bottom: 45px;
    right: 25px;

}

.reviews__item h4:first-child {
    font-weight: 700;
    line-height: 32px;
    font-size: 24px;
}

.reviews__item p {
    color: #6B7280;
}

@media (max-width: 1536px) {
    .reviews__item {
        padding: 16px;
        max-width: 396px;
    }

    .reviews__item h4:first-child {
        font-size: 18px;
        line-height: 28px;
    }

    .reviews__container {
        display: flex;
        gap: 25px;
    }

    .reviews__item img {
        position: absolute;
        bottom: 19px;
        right: 30px;

    }

}